* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Ubuntu sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: #0e0e0e;
}

.content {
    margin: auto;
    width: 700px;
    height: 700px;
    overflow: hidden;
    font-size: 36px;
    transform: perspective(400px) rotate3d(15, 0, 0, 45deg);
}

.text {
    color: gold;
    animation-duration: 30s;
    animation: textMoving 30s  linear infinite;
    animation-fill-mode: forwards;
}

@keyframes textMoving {
    0% {
        transform: translateY(700px);
    }

    100% {
        transform: translateY(-1000px);
    }
}

@keyframes textHidden {
    to {
        opacity: 0;
    }
}
